<html> <head>
<title>Documents</title>
</head>

<body>
<h1>Documents</h1>

<hr>
<form id="filter" method="post" action=".">
    {% for name,list in key_lists.items %}
	<select id="{{name}}" name="{{name}}">
		<option value="0"></option>
	{% for i in list%}
		<option value="{{i}}">{{i}}</option>
	{% endfor %}
	</select>
	<label for="{{name}}">{{name}}</label>
    {% endfor %}
    <input type="submit">
</form>
<hr>
<table>
  {% for row in rows %}
  <tr>
  <td><a id="title" href="/doc/{{ row }}/">{{ row }}</a></td>
  </tr>
  {% endfor %}
</table>
</body> </html>
