<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Upload:: Reconcile conflicts</title>
		<link rel="stylesheet" href="/assets/slick.grid.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/assets/css/smoothness/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/assets/examples.css" type="text/css" media="screen" charset="utf-8" />
		<style>
		.cell-title {
			font-weight: bold;
		}

		.cell-effort-driven {
			text-align: center;
		}
	</style>
	</head>
	<body>


		<div style="width:75%;float:left;">
			<div id="myGrid" style="width:100%;height:500px;"></div>
		</div>

		<div class="options-panel" style="width:15%;margin-left:80%;">
            <h2>Resolve conflicts:</h2>
            <ul>
                <li>For each set of conflicting rows, choose a single row to use.</li>
            </ul>

            <h2>Options:</h2>
            <button onclick="grid.setOptions({autoEdit:true})">Auto-edit ON</button> 
            &nbsp;
            <button onclick="grid.setOptions({autoEdit:false})">Auto-edit OFF</button>
		</div>

		<script language="JavaScript" src="/assets/firebugx.js"></script>

		<script language="JavaScript" src="/assets/jquery-1.4.3.min.js"></script>
		<script language="JavaScript" src="/assets/jquery-ui-1.8.5.custom.min.js"></script>
		<script language="JavaScript" src="/assets/jquery.event.drag-2.0.min.js"></script>

		<script language="JavaScript" src="/assets/slick.editors.js"></script>
		<script language="JavaScript" src="/assets/slick.grid.js"></script>

		<script>
		function requiredFieldValidator(value) {
			if (value == null || value == undefined || !value.length)
				return {valid:false, msg:"This is a required field"};
			else
				return {valid:true, msg:null};
		}

		var options = {
			editable: true,
			enableAddRow: false,
			enableCellNavigation: true,
			asyncEditorLoading: false,
			rowCssClasses: function(item) {
				return (item.status == 'existing') ? 'existing' : 'new';
			}
		};

		var grid;

		$(function(){
			var rowdata= []
			var colnames=[]
			var columns=[]
			columns.push({id:"choice", name:"choice", width:80, minWidth:20, maxWidth:80, cssClass:"cell-effort-driven", field:"choice", formatter:BoolCellFormatter, editor:YesNoCheckboxCellEditor})
			columns.push({id:"status", name:"status", width:80, minWidth:20, maxWidth:80, field:"status"})
			jQuery.getJSON('/conflicts', function(response){
				$.each(response.conflicts, function(index, value){
					mine = value.existing;
					$.each(mine, function(k, v){
					    if ($.inArray(k, colnames) == -1){
					    	colnames.push(k);
						column_obj = { "id": k, "name": k, "field": k };
						switch(k){
							case '% of lta alloc- on po':
								column_obj.width = 80;
								column_obj.resizable = false;
								column_obj.formatter = GraphicalPercentCompleteCellFormatter;
								column_obj.editor = PercentCompleteCellEditor;
								break;
							case '% of lta alloc- total':
								column_obj.width = 80;
								column_obj.resizable = false;
								column_obj.formatter = GraphicalPercentCompleteCellFormatter;
								column_obj.editor = PercentCompleteCellEditor;
								break;
							case '% of lta alloc- forecast':
								column_obj.width = 80;
								column_obj.resizable = false;
								column_obj.formatter = GraphicalPercentCompleteCellFormatter;
								column_obj.editor = PercentCompleteCellEditor;
								break;
							case 'input date':
								column_obj.minWidth = 60;
								column_obj.editor = DateCellEditor;
								break;
							case 'processing date':
								column_obj.minWidth = 60;
								column_obj.editor = DateCellEditor;
								break;
							default:
								column_obj.editor = TextCellEditor;
						}
						columns.push(column_obj);
					    }
					});
					value.existing.choice = 0;
					value.existing.status = 'existing';
					rowdata.push(value.existing);

					yours = value.new;
					$.each(yours, function(k, v){
					    if ($.inArray(k, colnames) == -1){
					    	colnames.push(k);
						column_obj = { "id": k, "name": k, "field": k };
						switch(k){
							case '% of lta alloc- on po':
								column_obj.width = 80;
								column_obj.resizable = false;
								column_obj.formatter = GraphicalPercentCompleteCellFormatter;
								column_obj.editor = PercentCompleteCellEditor;
								break;
							case '% of lta alloc- total':
								column_obj.width = 80;
								column_obj.resizable = false;
								column_obj.formatter = GraphicalPercentCompleteCellFormatter;
								column_obj.editor = PercentCompleteCellEditor;
								break;
							case '% of lta alloc- forecast':
								column_obj.width = 80;
								column_obj.resizable = false;
								column_obj.formatter = GraphicalPercentCompleteCellFormatter;
								column_obj.editor = PercentCompleteCellEditor;
								break;
							case 'input date':
								column_obj.minWidth = 60;
								column_obj.editor = DateCellEditor;
								break;
							case 'processing date':
								column_obj.minWidth = 60;
								column_obj.editor = DateCellEditor;
								break;
							default:
								column_obj.editor = TextCellEditor;
						}
						columns.push(column_obj);
					    }
					});
					value.new.choice = 0;
					value.new.status = 'new';
					rowdata.push(value.new);
					});
				grid = new Slick.Grid($("#myGrid"),rowdata, columns, options);

				grid.onAddNewRow = function(item,colDef) {
				grid.removeRow(rowdata.length);
				rowdata.push(item);
				grid.updateRowCount();
				grid.render();
			    }
			});
		});

		</script>
	</body>
</html>
